<h1>Places I've Been</h1>
<p></p>
<form action="/visit_Places"  method="get">
  <label for="new-place">Places visited</label>
  <input id="new-place" name="new-place" type="text">
  <button type="submit"> Go!</button>

</form>
