<h1>Places I've Been</h1>
<p></p>
<form action="/visit_Places"  method="post">
  <label for="new-place">Places visited</label>
  <input id="new-place" name="new-place" type="text">

  <label for="new-city">City visited</label>
  <input id="new-city" name="new-city" type="text">
  <button type="submit"> Go!</button>

</form>
