<h1>Places I've Been</h1>
<ul>
  <li>@Model.GetplaceName()</li>
</ul>
<h1>You've added a new city!</h1>
<p>@Model.GetcityName()</p>
<p><a href="/">Add another city</a></p>
<p><a href="/view_places">View Places</a></p>
